<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.lihs.dao.TestDao">
    <parameterMap id="test" type="com.lihs.entity.TestEntity"></parameterMap>
    <resultMap id="test" type="com.lihs.entity.TestEntity"></resultMap>

    <sql id="resultColumns">
        ID as id,	<!--id-->
        NAME as name,
        AGE as age
    </sql>

    <!-- 动态公用查询条件 -->
    <sql id="dynamicCondition">
        <!-- 单据号 -->
        <if test="id!=null and id!=''">
            AND id = #{id}
        </if>

    </sql>
    <select id="list" resultMap="test">
        SELECT
        <include refid="resultColumns" />
        FROM
    </select>
    <!-- 查询多条数据 -->
    <select id="get" parameterMap="test" resultMap="test">
        SELECT
        <include refid="resultColumns" />
        FROM
        test
        where 1=1 and rownum = 1
        <include refid="dynamicCondition"/>
    </select>

    <insert id="insert" parameterMap="test">
        insert into TEST(
        ID,
        NAME,
        age
        ) values(
        #{id,jdbcType=VARCHAR},<!--id-->
        #{NAME,jdbcType=VARCHAR},<!--消息id-->
        #{age,jdbcType=NUMERIC},	<!--事务版本号-->

        )
    </insert>
    
    <delete id="delete" parameterMap="test">
      delete from test where id=#{id}
    </delete>
</mapper>